<h1>Procurar Pessoa por ID</h1>
<div>
  <input type="number" [(ngModel)]="id" placeholder="Digite o ID da pessoa">
  <button (click)="procurarPessoa()">Procurar</button>
</div>

<div *ngIf="error" class="error">{{ error }}</div>

<div *ngIf="pessoa">
  <h2>Detalhes da Pessoa</h2>
  <p><strong>ID:</strong> {{ pessoa.id }}</p>
  <p><strong>CPF/CNPJ:</strong> {{ pessoa.cpfCnpj }}</p>
  <p><strong>Nome:</strong> {{ pessoa.nome }}</p>
  <p><strong>Preço:</strong> {{ pessoa.preco }}</p>
  <p><strong>Quantidade:</strong> {{ pessoa.quantidade }}</p>
  <p><strong>Produto:</strong> {{ pessoa.produto.nome }}</p>
  <p><strong>Data da Venda:</strong> {{ pessoa.dataVenda | date }}</p>
</div>
